@import "yorha-variables.scss";

body {
    // scanlines
    &::before{
        content:" ";
        display:block;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-image: linear-gradient(90deg, transparent, transparent 7px, rgba(0, 0, 0, .07) 8px),
            linear-gradient(transparent, transparent 7px, rgba(0, 0, 0, .07) 8px);
        background-size: 8px 8px;    

        z-index:2;
        pointer-events:none;
    }

    &::after {
        content:" ";

        display:block;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:2;
        pointer-events:none;
        box-shadow: 
            inset (-$screen-blur-size) 0 ($screen-blur-size) (-$screen-blur-size * 2 / 3) $screen-blur-color,
            inset ($screen-blur-size) 0 ($screen-blur-size) (-$screen-blur-size * 2 / 3) $screen-blur-color;

    }
}
