@charset "UTF-8";

@import "yorha-variables.scss";

#player {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 2;
    padding: 0.5rem;

    #visualizer {
        height: 2rem;
        width: 100%;
    }

    .buttons-container {
        button {
            padding: unset;
            background-color: unset;
            color: $color;
            box-sizing: unset;
            position: unset;
            border: unset;
            border-left: unset;
            border-right: unset;

            &:hover,
            &:focus {
                background-color: unset;
                color: unset;
                border-color: unset;

                &::before {
                    width: unset;
                }
            }

            &::before {
                content: unset;
                display: unset;
                position: unset;
                background: unset;
                width: unset;
                height: unset;
                z-index: unset;

                top: unset;
                bottom: unset;
                left: unset;
                right: unset;

                background-color: unset;
                transition: unset;
            }

            &::after {
                content: unset;
                display: unset;
                position: unset;
                background: unset;
                width: unset;
                height: unset;
                z-index: unset;

                top: unset;
                bottom: unset;
                left: unset;
                right: unset;

                background-color: unset;
                transition: unset;
            }

            &#play-pause-button {
                &::after {
                    content: url(../img/baseline-play_arrow-24px.svg);
                }

                &.playing {
                    &::after {
                        content: url(../img/baseline-pause-24px.svg);
                    }
                }
            }

            &#mute-button {
                &::after {
                    content: url(../img/baseline-volume_off-24px.svg);
                }

                &.muted {
                    &::after {
                        content: url(../img/baseline-volume_up-24px.svg);
                    }
                }
            }
        }



        input[type=range] {
            -webkit-appearance: none;
            /* Override default CSS styles */
            // appearance: none;

            //width: 100%; /* Full-width */
            height: 100%;
            background: #a9a692;
            outline: none;
            /* Remove outline */

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                /* Override default look */
                // appearance: none;
                //width: 25px; /* Set a specific slider handle width */
                //height: 25px; /* Slider handle height */
                background: #4B483F;
                /* Green background */
                cursor: pointer;
                /* Cursor on hover */
            }

            &::-moz-range-thumb {
                //width: 25px; /* Set a specific slider handle width */
                //height: 25px; /* Slider handle height */
                background: #4B483F;
                /* Green background */
                cursor: pointer;
                /* Cursor on hover */
            }
        }
    }


}