<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% seo %}
</head>

<body>
    {% include navigation.html %}

    <div class="pattern">
        <div class="container">
            <div class="pattern-inner"></div>
        </div>
    </div>

    <main class="container">
        {{ content }}
    </main>

    <div class="pattern">
        <div class="container">
            <div class="pattern-inner"></div>
        </div>
    </div>

    <div class="overlay"></div>
</body>

</html>